.titleIcon{
  position: relative;
  top: 5px;
}

:host{
  cdk-accordion-item{
    margin-top: 5px;
  } 

  .example-accordion-item-header{
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
  }

  cdk-accordion-item:hover{
    .example-accordion-item-header{
      background-color: lightblue;
      overflow: hidden;
      border: 1px solid black;
      border-radius: 10px;
    }
  }
}

.example-accordion {
  display: block;
  max-width: 500px;

}

.example-accordion-item {
  display: block;
}

.example-accordion-item  {
  
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
}


